/* CASEIN               */

.icon {
	height: 16px;
	width: 16px;
	padding: 0px 9px 0px 9px;
	display: block;
	float: left;
}

.iconRow {
	height: 16px;
	width: 16px;
	padding: 0px;
	display: block;
	float: left;
}

#content {
	position: fixed;
	font-size: 12px;
	bottom: 0;
	left: 0;
	right: 318px;
	background: #fff;
	z-index: 10;
	overflow: auto;
}

#content p {
	font-size: 12px;
	margin: 1em 0;
}

#data {
	padding: 15px 25px 25px 25px;
}

#content h1 {
	border-bottom: 2px solid #DDDDDD;
	color: #111111;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 0 15px 0;
	padding: 0 0 5px 0;
}

#content h2, #preview h2 {
	font-size: 15px;
	font-weight: normal;
	color: #111;
	border-bottom: 2px solid #ddd;
	padding: 0 0 5px 0;
	margin: 0 0 15px 0;
	position: relative;
}

#content h2 img, #preview h2 img {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

#content .openFolder {
	border-bottom: 1px solid #ddd;
	background: url(/casein/images/icons/folder.png) no-repeat center left;
	font-weight: bold;
	cursor: pointer;
}

#content .itemList {
	width: 100%;
	border-bottom: 3px solid #666;
}

#content .itemList .center {
	text-align: center;
}

#content .itemList .icon {
	width: 16px;
}

#content .itemList th {
	text-align: left;
	font-size: 11px;
	padding: 7px 8px 6px 8px;
	border-bottom: 3px solid #666;
}

#content .itemList th a {
	color: #000;
}

#content .delete {
	width: 16px;
	height: 16px;
	padding: 0px;
}

#content .delete a {
	float: left;
	padding: 0px;
}

#content .itemList td {
	font-size: 11px;
	color: #333;
	border-bottom: 1px solid #ddd;
}

#content .itemList td a {
	display: block;
	padding: 9px 8px 7px 8px;
	line-height: 11px;
	color: #333;
	text-decoration: none;
}

#content .itemList td.noLink {
	padding: 9px 8px 7px 8px;
}

#content .itemList tr.hover:hover {
	background: #eee;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

#content .even {
	background: #e7edfc;
}

#content .tfContainer {
	width: 45%;
	min-height: 60px;
	float: left;
	padding: 0 5% 12px 0;
}

#content .tfContainer p {
	margin: 0;
}

#content .tfContainer div {
	float: left;
	margin: 0 10px 0 0;
}

#content .tfContainer .caseinDateSelectWrapper div {
	float: none;
	margin: 0px;
	margin-top: 4px;
}

#content .tfContainerSecond {
	padding: 0 0 12px 4%;
}

#content .tfContainerFullWidth {
	width: 100%;
	padding-right: 0px;
}

#content .help {
	border-bottom: 5px solid #fce701;
	background: #fff9bb;
	padding: 12px 20px 8px 20px;
	font-size: 12px;
	color: #111111;
	margin: 0 0 20px 0;
	font-style: italic;
}

#content label {
	font-size: 12px;
	color: #333;
}

#content #error {
	border-bottom: 5px solid #f48e8e;
	background: #f7b7b7;
	padding: 12px 20px 8px 20px;
	font-size: 12px;
	color: #801616;
	margin: 0 0 20px 0;
}

#content #notice {
	border-bottom: 5px solid #95ccef;
	background: #d9ebf6;
	padding: 12px 20px 8px 20px;
	font-size: 12px;
	color: #245574;
	margin: 0 0 20px 0;
}

#content .tfContainer .caseinTextField {
	width: 100%;
	font-size: 12px;
	padding: 6px 0 5px 0;
	margin: 3px 0 0 0;
}

#content .tfContainer .formError {
  padding: 7px 0 0 0;
  font-size: 10px;
	color: #801616;
}

#content .extraOptions {
	font-size: 11px;
	padding: 10px 0;
	cursor: pointer;
	width: 100px;
}

#content .extras {
	padding: 15px;
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	margin: 5px 0;
	background: #eee;
	position: relative;
}

#content .extras .checkboxOptions {
	padding: 20px 0 20px 0;
	font-size: 11px;
	color: #222;
	font-weight: bold;
}

#content .invalidForm {
	color: #993333;
	border: 1px solid #ff6666;
}

#content .tfContainer .caseinSelect {
	width: 100%;
	margin: 5px 0 0 0;
}

#content .tfContainer .caseinFileFieldContainer {
	width: 350px;
	padding: 3px 5px 4px 5px;
	margin: 3px 0 0 0;
	border: 1px solid #ccc;
}

#content .caseinTextArea, #content .caseinTextAreaBig {
	width: 100%;
	height: 120px;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding: 6px 0 5px 0;
	margin: 3px 0 0 0;
}

#content .caseinTextAreaBig {
	height: 300px;
}

#content .rcText {
	font-size: 11px;
	color: #333;
}

#content .submits {
	text-align: right;
	font-size: 12px;
	padding: 10px 10px;
	background-color: #ddd;
}

#content .cancel, #content a.negative:link, #content a.negative:visited { 
	color: #ff0000;
}

#content .cancel:hover, #content a.negative:visited:hover {
	color: #990000;
}

#content .pagination {
	text-align: center;
	margin: 20px 0px 0px 0px;
	font-size: 12px;
	padding: 10px 10px;
	background-color: #ddd;
}

#content .pagination a:link, a:visited { 
	color: #555;
}

#content .pagination a:hover, a:visited:hover {
	color: #000;
}